<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OhFlyer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE7B2C1F1D52F885005327A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE7B2C381D52F885005327A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE7B2C431D52F885005327A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
