<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
        <array>
            <string>中文姓名</string>
            <string>Last Name</string>
            <string>First Name</string>
            <string>手机号码</string>
        </array>
		<array>
            <string>证件类型</string>
            <string>证件号码</string>
            <string>证件有效期</string>
            <string>国籍</string>
            <string>性别</string>
            <string>出生日期</string>
        </array>
	</array>
    
	<array>
        <array>
            <string>中文姓名</string>
            <string>Last Name</string>
            <string>First Name</string>
            <string>手机号码</string>
        </array>
        <array>
            <string>证件类型</string>
            <string>证件号码</string>
        </array>
	</array>
    
	<array>
        <array>
            <string>中文姓名</string>
            <string>Last Name</string>
            <string>First Name</string>
            <string>手机号码</string>
        </array>
        <array>
            <string>证件类型</string>
            <string>证件号码</string>
            <string>证件有效期</string>
            <string>国籍</string>
            <string>性别</string>
            <string>出生日期</string>
        </array>
	</array>
    
    
    
	<array>
        <array>
            <string>中文姓名</string>
            <string>Last Name</string>
            <string>First Name</string>
            <string>手机号码</string>
        </array>
        <array>
            <string>证件类型</string>
            <string>证件号码</string>
            <string>证件有效期</string>
            <string>国籍</string>
            <string>性别</string>
            <string>出生日期</string>
        </array>
	</array>
    
    
	<array>
        <array>
            <string>中文姓名</string>
            <string>Last Name</string>
            <string>First Name</string>
            <string>手机号码</string>
        </array>
        <array>
            <string>证件类型</string>
            <string>证件号码</string>
            <string>证件有效期</string>
            <string>国籍</string>
            <string>性别</string>
            <string>出生日期</string>
        </array>
	</array>
    
    
    
    
	<array>
        <array>
            <string>中文姓名</string>
            <string>Last Name</string>
            <string>First Name</string>
            <string>手机号码</string>
        </array>
        <array>
            <string>证件类型</string>
            <string>证件号码</string>
            <string>证件有效期</string>
            <string>国籍</string>
            <string>性别</string>
            <string>出生日期</string>
        </array>
	</array>
    
    
    
	<array>
        <array>
            <string>中文姓名</string>
            <string>Last Name</string>
            <string>First Name</string>
            <string>手机号码</string>
        </array>
        <array>
            <string>证件类型</string>
            <string>证件号码</string>
            <string>证件有效期</string>
            <string>国籍</string>
            <string>性别</string>
            <string>出生日期</string>
        </array>
	</array>
    
    
    
    
	<array>
        <array>
            <string>中文姓名</string>
            <string>Last Name</string>
            <string>First Name</string>
            <string>手机号码</string>
        </array>
        <array>
            <string>证件类型</string>
            <string>证件号码</string>
            <string>证件有效期</string>
            <string>国籍</string>
            <string>性别</string>
            <string>出生日期</string>
        </array>
	</array>
    
	<array>
        <array>
            <string>中文姓名</string>
            <string>Last Name</string>
            <string>First Name</string>
            <string>手机号码</string>
        </array>
        <array>
            <string>证件类型</string>
            <string>证件号码</string>
            <string>出生日期</string>
        </array>
	</array>
</array>
</plist>
